@model BugTracker.Models.ProfileViewModel
@{
    ViewBag.Title = "Edit Profile";
    Layout = "";
}

<div id="edit-profile-section" class="widget">
    <div class="widget-header clearfix">
        <h3><i class="icon ion-compose"></i> <span>@ViewBag.Title</span></h3>
    </div> 
    <div class="widget-content">
        <br />
        @using (Html.BeginForm("EditProfile", "Profiles", new { oldRole = ViewBag.OldRole }, FormMethod.Post, new { @class = "form-horizontal partial-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.UserId)
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Role", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.EnumDropDownListFor(m => m.Role, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block" value="Save Changes" />
                </div>
        }
    </div>
</div>