@using System.Collections.Generic;
@model List<BugTracker.Models.ProfileViewModel>
<div class="container-fluid primary-content">
    <div class="user-profile">
        <div class="profile-header-background"><img src="~/assets/img/budgeting-background.jpg" alt="Profile Header Background" /></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="profile-info-left">
                    <div class="text-center">
                        <img src="~/assets/img/user.ico" alt="User Picture" class="avatar img-circle" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid primary-content">
    <br />
    <div class="widget">
        <div class="widget-header clearfix">
            <h3><i class="icon ion-ios-people"><span>&nbsp; Profiles</span></i></h3>
        </div>
        <div class="widget-content">
            <div class="table-responsive">
                <table id="datatable-basic" class="table table-sorting table-striped table-hover datatable">
                    <thead>
                        <tr>
                            <th>
                                Username
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Role
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { email = item.Email }, new { @class = "btn btn-primary btn-xs" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*<div id="pickedForEditing"></div>
        @if (ViewBag.PickPosition != null)
        {
            @Html.Action("EditProfile", "Profiles", new { profile = Model[ViewBag.PickPosition] })
        }*@
</div>