@model IEnumerable<BugTracker.Models.Comment>

<h3><i class="icon ion-ios-list-outline"></i> <span>Comments for the @ViewBag.Ticket Ticket in the @ViewBag.Project Project</span></h3>
@Html.ActionLink("Back to Ticket", "Details", "Tickets", new { ticketId = ViewBag.ticketId }, new { @class = "btn btn-primary btn-md btn-long" })
@if (ViewBag.CanCreate)
{
    Html.ActionLink("Add Comment", "Create", new { ticketId = ViewBag.ticketId }, new { @class = "btn btn-warning btn-md btn-long" });
}
<br />
<br />
@foreach (var item in Model)
{
    <div class="container-fluid primary-content">
        <div class="widget">
            <div class="widget-header clearfix">
                <h3><i class="icon ion-information-circled"></i> <span>Comment entered on @item.Date.ToString("g") 
                    by @String.Concat(item.CreatedBy.FirstName, " ", item.CreatedBy.LastName) </span></h3>
            </div>
            <div class="widget-content">
                <div class="h5">@item.Body</div>
            </div>
        </div>
    </div>
}