@model IEnumerable<BugTracker.Models.TicketChange>

<h3><i class="icon ion-ios-list-outline"></i> <span>Changes History for the @ViewBag.TicketName Ticket </span></h3>
@Html.ActionLink("Back to Ticket", "Details", "Tickets", new { ticketId = ViewBag.TicketId }, new { @class = "btn btn-primary btn-md btn-long" })
<br />
<br />
@foreach (var item in Model)
{
    <div class="container-fluid primary-content">
        <div class="widget">
            <div class="widget-header clearfix">
                <h3>
                    <i class="icon ion-information-circled"></i> <span>  
                        Changed on @item.Date.ToString("d") by @String.Concat(item.ChangedBy.FirstName, " ", item.ChangedBy.LastName) 
                    </span>
                </h3>
            </div>
            <div class="widget-content">
                <table class="table table-striped">
                    <tr>
                        <th>
                            
                        </th>
                        <th>
                            @if (item.NewDeveloperId != item.OldDeveloperId)
                            {
                                <div class="text-danger">Developer</div>;
                            }
                            else
                            {
                                <div>Developer</div>
                            }
                        </th>
                        <th>
                            @if (item.NewType != item.OldType)
                            {
                                <div class="text-danger">Type</div>
                            }
                            else
                            {
                                <div>Type</div>
                            }

                        </th>
                        <th>
                            @if (item.NewPriority != item.OldPriority)
                            {
                                <div class="text-danger">Priority</div>
                            }
                            else
                            {
                                <div>Priority</div>;
                            }
                        </th>
                        <th>
                            @if (item.NewStatus != item.OldStatus)
                            {
                                <div class="text-danger">Status</div>
                            }
                            else
                            {
                                <div>Status</div>
                            }
                        </th>                      
                    </tr>
                    <tr>
                        <td>
                            Before
                        </td>
                        <td>
                            @if (item.NewDeveloperId != item.OldDeveloperId)
                            {
                                if (item.OldDeveloperId == null)
                                {
                                    <div class="text-danger">Unassigned</div>;
                                }
                                else
                                {
                                    <div class="text-danger">@String.Concat(item.OldDeveloper.FirstName, " ", item.OldDeveloper.LastName)</div>;
                                }
                            }
                            else
                            {
                                <div>@String.Concat(item.OldDeveloper.FirstName, " ", item.OldDeveloper.LastName)</div>
                            }
                        </td>
                        <td>
                            @if (item.NewType != item.OldType)
                            {
                                <div class="text-danger">@item.OldType</div>
                            }
                            else
                            {
                                <div>@item.OldType.ToString()</div>
                            }
                        </td>
                        <td>
                            @if (item.NewPriority != item.OldPriority)
                            {
                                <div class="text-danger">@item.OldPriority</div>;
                            }
                            else
                            {
                                <div>@item.OldPriority.ToString()</div>
                            }
                        </td>
                        <td>
                            @if (item.NewStatus != item.OldStatus)
                            {
                                <div class="text-danger">@item.OldStatus</div>;
                            }
                            else
                            {
                                <div>@item.OldStatus.ToString()</div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Changed to
                        </td>
                        <td>
                            @if (item.NewDeveloperId != item.OldDeveloperId)
                            {
                                <div class="text-danger">@String.Concat(item.NewDeveloper.FirstName, " ", item.NewDeveloper.LastName)</div>;
                            }
                            else
                            {
                                <div>@String.Concat(item.NewDeveloper.FirstName, " ", item.NewDeveloper.LastName)</div>
                            }
                        </td>
                        <td>
                            @if (item.NewType != item.OldType)
                            {
                                <div class="text-danger">@item.NewType</div>;
                            }
                            else
                            {
                                <div>@item.NewType.ToString()</div>
                            }
                        </td>
                        <td>
                            @if (item.NewPriority != item.OldPriority)
                            {
                                <div class="text-danger">@item.NewPriority</div>;
                            }
                            else
                            {
                                <div>@item.NewPriority.ToString()</div>
                            }
                        </td>
                        <td>
                            @if (item.NewStatus != item.OldStatus)
                            {
                                <div class="text-danger">@item.NewStatus</div>;
                            }
                            else
                            {
                                <div>@item.NewStatus.ToString()</div>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}    