@using BugTracker.Models
@model Ticket

<div class="container-fluid primary-content">
    <div class="primary-content-heading clearfix">
        <br />
        <a href="~/Tickets/Index" class="btn btn-primary btn-md btn-long">Back to All Tickets</a>
        @if (ViewBag.CanEdit)
        {
            @Html.ActionLink("Edit Ticket", "Edit", new { ticketId = Model.Id }, new { @class = "btn btn-warning btn-md btn-long" });
        }
        @Html.ActionLink("Ticket History", "Changes", new { ticketId = Model.Id }, new { @class = "btn btn-danger btn-md btn-long" })
    </div>
    <div class="widget">
        <div class="widget-header clearfix">
            <h3><i class="icon ion-ios-list-outline"></i> <span>Ticket Details</span></h3>
            <div class="btn-group widget-header-toolbar">
                <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
            </div>
        </div>
        <div class="widget-content">
            <table id="user" class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Title</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>Details</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Submitted By</td>
                        <td>@String.Concat(Model.SubmittedBy.FirstName, " ", Model.SubmittedBy.LastName)</td>
                    </tr>
                    <tr>
                        <td>Project</td>
                        <td>@Model.Project.Name</td>
                    </tr>
                    <tr>
                        <td>Project Manager</td>
                        <td>@String.Concat(Model.Project.Manager.FirstName, " ", Model.Project.Manager.LastName)</td>
                    </tr>
                    <tr>
                        <td>Developer</td>
                        @if (Model.Developer != null)
                        {

                            <td>@String.Concat(Model.Developer.FirstName, " ", Model.Developer.LastName)</td>

                        }
                        else
                        {
                            <td>
                                Unassigned
                            </td>
                        }

                    </tr>
                    <tr>
                        <td>Submitted Date</td>
                        <td>@Model.CreationDate.ToString("d")</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>@Model.Type</td>
                    </tr>
                    <tr>
                        <td>Priority</td>
                        <td>@Model.Priority</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>@Model.Status</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Comments", "Index", "Comments", new { ticketId = Model.Id }, new { @class = "data-link" })
                        </td>
                        <td>
                            <a href='@Url.Action("Index", "Comments", new { ticketId = Model.Id })' class="data-link">
                                @Model.Comments.Count
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Attachments", "Index", "Attachments", new { ticketId = Model.Id }, new { @class = "data-link" })
                        </td>
                        <td>
                            <a href='@Url.Action("Index", "Attachments", new { ticketId = Model.Id })' class="data-link">
                                @Model.Attachments.Count
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @if (ViewBag.CanCreate)
    {
        @Html.Action("Create", "Comments", new { ticketId = Model.Id });

        <div class="h4 text-danger demo-text" hidden>This functionality is disabled in the demo account. Please log in for full functionality.</div>
        
        <div class="widget">
            <div class="widget-header clearfix">
                <h3><i class="icon ion-compose"></i> <span>Add Attachment</span></h3>
                <div class="btn-group widget-header-toolbar">
                    <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
                </div>
            </div>
            <div class="widget-content">
                @using (Html.BeginForm("Create", "Attachments", new { ticketId = Model.Id }, FormMethod.Post,  new { @class = "form-horizontal partial-form", role = "form", id = "newHousehold" , enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="input-group">
                        <input type="text" class="form-control" name="description" placeholder="Attachment Name">
                        <div class="file-upload-widget">
                            <span id="upload-button" class="btn btn-warning btn-md">Browse</span>
                            <input name="fileUpload" type="file" id="fileUpload" />
                        </div>
                        <input type="submit" value="Create" class="btn btn-success btn-block btn-demo" data-assigned-id = @User.Identity.Name />
                    </div>
                }
            </div>
        </div>
    }
</div>
