@using BugTracker.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Ticket>

<h2>@ViewBag.Header</h2>

<div id="ticketsButtons">
    @Html.ActionLink("Create New Ticket", "Create", null, new { @class = "btn btn-success" })
    @Html.ActionLink("View My Own Tickets", "Index", new { selectedUserId = ViewBag.UserId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("View All The Tickets", "Index", null, new { @class = "btn btn-warning" })
</div>
<div class="widget">
    <div class="widget-content">
        <div class="table-responsive">
            <table id="datatable-column-filter" class="table table-sorting table-striped table-hover datatable">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Submitted By
                        </th>
                        <th>
                            Project
                        </th>
                        <th>
                            Project Manager
                        </th>
                        <th>
                            Developer
                        </th> 
                        <th>
                            Created
                        </th>                     
                        <th>
                            Type
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                        </th>                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.ActionLink(String.Concat(item.SubmittedBy.FirstName, " ", item.SubmittedBy.LastName), "Index", new { selectedUserId = item.SubmittedById })
                            </td>
                            <td>
                                @Html.ActionLink(item.Project.Name, "Index", new { projectId = item.ProjectId})
                            </td>
                            <td>
                                @Html.ActionLink(String.Concat(item.Project.Manager.FirstName, " ", item.Project.Manager.LastName), "Index", new {selectedUserId = item.Project.ManagerId})
                            </td>
                            @if (item.Developer != null)
                            {
                                <td>
                                    @Html.ActionLink(String.Concat(item.Developer.FirstName, " ", item.Developer.LastName), "Index", new { selectedUserId = item.DeveloperId})
                                </td>
                            }
                            else
                            {
                                <td>
                                    Unassigned
                                </td>
                            }
                            <td>
                                @item.CreationDate.ToString("d")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>                        
                            <td>
                                @Html.DisplayFor(modelItem => item.Priority)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { ticketId = item.Id }, new { @class = "btn btn-danger btn-xs" })                                                              
                            </td>
                        </tr>
                    }                  
                </tbody>
            </table>
        </div>
    </div>
</div>