@model BugTracker.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_NotAuthenticatedLayout.cshtml";
}

<div class="content-box-bordered login-box box-with-help">
    <h1>Log in to your account</h1>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label sr-only" })
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon ion-email"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @id = "inputEmail3b" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label sr-only" })
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon ion-locked"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "inputPassword3b" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <label class="fancy-checkbox">
                    <input type="checkbox">
                    <span>Remember me</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-7">
                <button type="submit" class="btn btn-success btn-block">Sign in</button>
            </div>
            <div class="col-md-5 text-right">
                <a href="~/Account/ForgotPassword"><em>forgot password?</em></a>
            </div>
        </div>
    }
    <p><em>Don't have an account yet?</em> <a href="/Account/Register"><strong>Sign Up</strong></a></p>
</div>
<div class="login-separator text-center"><span>or sign in with</span></div>